<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinmao.common.consultantCenter.mapper.ConsultingFieldMapper">
  <resultMap id="BaseResultMap" type="com.xinmao.common.consultantCenter.domain.ConsultingField">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, is_delete, gmt_create, gmt_update
  </sql>

  <select id="getConsultingFieldById" parameterType="com.xinmao.common.consultantCenter.domain.ConsultingField" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from consulting_field
    where
    is_delete = 0
    and id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectCount" parameterType="com.xinmao.common.consultantCenter.domain.ConsultingField" resultType="Integer">
    select count(*)
    from consulting_field
    <where>
      is_delete = 0
      <!--<if test="name != null and name != ''">-->
        <!--and name =  #{name,jdbcType=VARCHAR}-->
      <!--</if>-->
    </where>
  </select>

  <select id="getAllMessageByCondition" parameterType="com.xinmao.common.consultantCenter.domain.ConsultingField" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from consulting_field
    where is_delete = 0
    order by gmt_update desc
  </select>


  <insert id="insertOrUpdateConsultantField" useGeneratedKeys="true" keyProperty="id" parameterType="com.xinmao.common.consultantCenter.domain.ConsultingField" >

    <!-- 查看是否存在memberid,如果存在及更新，否则插入 -->
    <selectKey keyProperty="count" order="BEFORE" resultType="int">
      select count(*) as count from consulting_field
      where id = #{id,jdbcType=BIGINT}
    </selectKey>

    <!-- 如果大于0则更新 -->
    <if test="count>0">
      update consulting_field
      <set>
        <if test="id != null">
          id = #{id,jdbcType=BIGINT},
        </if>
        <if test="name != null">
          name = #{name,jdbcType=VARCHAR},
        </if>
        <if test="isDelete != null">
          is_delete = #{isDelete,jdbcType=INTEGER},
        </if>
        <if test="gmtCreate != null">
          gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        </if>
        <if test="gmtUpdate != null">
          gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
        </if>
      </set>
      where id = #{id,jdbcType=BIGINT}
    </if>

    <!-- 如果等于0则保存 -->
    <if test="count==0">
      insert into consulting_field
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="name != null">
          name,
        </if>
        <if test="isDelete != null">
          is_delete,
        </if>
        <if test="gmtCreate != null">
          gmt_create,
        </if>
        <if test="gmtUpdate != null">
          gmt_update,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="name != null">
          #{name,jdbcType=VARCHAR},
        </if>
        <if test="isDelete != null">
          #{isDelete,jdbcType=INTEGER},
        </if>
        <if test="gmtCreate != null">
          #{gmtCreate,jdbcType=TIMESTAMP},
        </if>
        <if test="gmtUpdate != null">
          #{gmtUpdate,jdbcType=TIMESTAMP},
        </if>
      </trim>
    </if>

  </insert>


  <!--<select id="selectByExample" parameterType="com.itheima.mybatis.po.ConsultingFieldExample" resultMap="BaseResultMap">-->
    <!--select-->
    <!--<if test="distinct">-->
      <!--distinct-->
    <!--</if>-->
    <!--<include refid="Base_Column_List" />-->
    <!--from consulting_field-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
    <!--<if test="orderByClause != null">-->
      <!--order by ${orderByClause}-->
    <!--</if>-->
  <!--</select>-->
  <!--<delete id="deleteByExample" parameterType="com.itheima.mybatis.po.ConsultingFieldExample">-->
    <!--delete from consulting_field-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.itheima.mybatis.po.ConsultingField">-->
    <!--insert into consulting_field (id, name, is_delete, -->
      <!--gmt_create, gmt_update)-->
    <!--values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER}, -->
      <!--#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtUpdate,jdbcType=TIMESTAMP})-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.itheima.mybatis.po.ConsultingField">-->
    <!--insert into consulting_field-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--id,-->
      <!--</if>-->
      <!--<if test="name != null">-->
        <!--name,-->
      <!--</if>-->
      <!--<if test="isDelete != null">-->
        <!--is_delete,-->
      <!--</if>-->
      <!--<if test="gmtCreate != null">-->
        <!--gmt_create,-->
      <!--</if>-->
      <!--<if test="gmtUpdate != null">-->
        <!--gmt_update,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--#{id,jdbcType=BIGINT},-->
      <!--</if>-->
      <!--<if test="name != null">-->
        <!--#{name,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="isDelete != null">-->
        <!--#{isDelete,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="gmtCreate != null">-->
        <!--#{gmtCreate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="gmtUpdate != null">-->
        <!--#{gmtUpdate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<select id="countByExample" parameterType="com.itheima.mybatis.po.ConsultingFieldExample" resultType="java.lang.Long">-->
    <!--select count(*) from consulting_field-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</select>-->
  <!--<update id="updateByExampleSelective" parameterType="map">-->
    <!--update consulting_field-->
    <!--<set>-->
      <!--<if test="record.id != null">-->
        <!--id = #{record.id,jdbcType=BIGINT},-->
      <!--</if>-->
      <!--<if test="record.name != null">-->
        <!--name = #{record.name,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.isDelete != null">-->
        <!--is_delete = #{record.isDelete,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.gmtCreate != null">-->
        <!--gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="record.gmtUpdate != null">-->
        <!--gmt_update = #{record.gmtUpdate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
    <!--</set>-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByExample" parameterType="map">-->
    <!--update consulting_field-->
    <!--set id = #{record.id,jdbcType=BIGINT},-->
      <!--name = #{record.name,jdbcType=VARCHAR},-->
      <!--is_delete = #{record.isDelete,jdbcType=INTEGER},-->
      <!--gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},-->
      <!--gmt_update = #{record.gmtUpdate,jdbcType=TIMESTAMP}-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<resultMap id="BaseResultMap" type="com.itheima.mybatis.po.ConsultingField">-->
    <!--<result column="id" jdbcType="BIGINT" property="id" />-->
    <!--<result column="name" jdbcType="VARCHAR" property="name" />-->
    <!--<result column="is_delete" jdbcType="INTEGER" property="isDelete" />-->
    <!--<result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />-->
    <!--<result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />-->
  <!--</resultMap>-->
  <!--<sql id="Example_Where_Clause">-->
    <!--<where>-->
      <!--<foreach collection="oredCriteria" item="criteria" separator="or">-->
        <!--<if test="criteria.valid">-->
          <!--<trim prefix="(" prefixOverrides="and" suffix=")">-->
            <!--<foreach collection="criteria.criteria" item="criterion">-->
              <!--<choose>-->
                <!--<when test="criterion.noValue">-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue">-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue">-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue">-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <!--<sql id="Update_By_Example_Where_Clause">-->
    <!--<where>-->
      <!--<foreach collection="example.oredCriteria" item="criteria" separator="or">-->
        <!--<if test="criteria.valid">-->
          <!--<trim prefix="(" prefixOverrides="and" suffix=")">-->
            <!--<foreach collection="criteria.criteria" item="criterion">-->
              <!--<choose>-->
                <!--<when test="criterion.noValue">-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue">-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue">-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue">-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <!--<sql id="Base_Column_List">-->
    <!--id, name, is_delete, gmt_create, gmt_update-->
  <!--</sql>-->
  <!--<select id="selectByExample" parameterType="com.itheima.mybatis.po.ConsultingFieldExample" resultMap="BaseResultMap">-->
    <!--select-->
    <!--<if test="distinct">-->
      <!--distinct-->
    <!--</if>-->
    <!--<include refid="Base_Column_List" />-->
    <!--from consulting_field-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
    <!--<if test="orderByClause != null">-->
      <!--order by ${orderByClause}-->
    <!--</if>-->
  <!--</select>-->
  <!--<delete id="deleteByExample" parameterType="com.itheima.mybatis.po.ConsultingFieldExample">-->
    <!--delete from consulting_field-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.itheima.mybatis.po.ConsultingField">-->
    <!--insert into consulting_field (id, name, is_delete, -->
      <!--gmt_create, gmt_update)-->
    <!--values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER}, -->
      <!--#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtUpdate,jdbcType=TIMESTAMP})-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.itheima.mybatis.po.ConsultingField">-->
    <!--insert into consulting_field-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--id,-->
      <!--</if>-->
      <!--<if test="name != null">-->
        <!--name,-->
      <!--</if>-->
      <!--<if test="isDelete != null">-->
        <!--is_delete,-->
      <!--</if>-->
      <!--<if test="gmtCreate != null">-->
        <!--gmt_create,-->
      <!--</if>-->
      <!--<if test="gmtUpdate != null">-->
        <!--gmt_update,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--#{id,jdbcType=BIGINT},-->
      <!--</if>-->
      <!--<if test="name != null">-->
        <!--#{name,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="isDelete != null">-->
        <!--#{isDelete,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="gmtCreate != null">-->
        <!--#{gmtCreate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="gmtUpdate != null">-->
        <!--#{gmtUpdate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<select id="countByExample" parameterType="com.itheima.mybatis.po.ConsultingFieldExample" resultType="java.lang.Long">-->
    <!--select count(*) from consulting_field-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</select>-->
  <!--<update id="updateByExampleSelective" parameterType="map">-->
    <!--update consulting_field-->
    <!--<set>-->
      <!--<if test="record.id != null">-->
        <!--id = #{record.id,jdbcType=BIGINT},-->
      <!--</if>-->
      <!--<if test="record.name != null">-->
        <!--name = #{record.name,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.isDelete != null">-->
        <!--is_delete = #{record.isDelete,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.gmtCreate != null">-->
        <!--gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="record.gmtUpdate != null">-->
        <!--gmt_update = #{record.gmtUpdate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
    <!--</set>-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByExample" parameterType="map">-->
    <!--update consulting_field-->
    <!--set id = #{record.id,jdbcType=BIGINT},-->
      <!--name = #{record.name,jdbcType=VARCHAR},-->
      <!--is_delete = #{record.isDelete,jdbcType=INTEGER},-->
      <!--gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},-->
      <!--gmt_update = #{record.gmtUpdate,jdbcType=TIMESTAMP}-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
</mapper>