<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinmao.sc.orderCenter.mapper.TestscaleShareFriendsRelationMapper">
  <resultMap id="BaseResultMap" type="com.xinmao.sc.orderCenter.domain.TestscaleShareFriendsRelation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="testScaleId" jdbcType="BIGINT" property="testScaleId" />
    <result column="sharingPersonId" jdbcType="BIGINT" property="sharingPersonId" />
    <result column="testerId" jdbcType="BIGINT" property="testerId" />
    <result column="is_enable" jdbcType="TINYINT" property="isEnable" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id,testScaleId, sharingPersonId, testerId, is_enable, is_delete, create_time, update_time
  </sql>
  
  <select id="getTesterListBySharingPersonIdList" parameterType="com.xinmao.sc.orderCenter.domain.TestscaleShareFriendsRelation" resultType="java.lang.Long">
    select
       testerId
    from testscale_share_friends_relation
    where is_delete = 0 
    and testScaleId =  #{testScaleId,jdbcType=BIGINT}
    and sharingPersonId in
        <foreach item="item" index="index" collection="searchIdList"  
                 open="(" separator="," close=")">  
            #{item}  
        </foreach>  
  </select>
  
  <select id="getSharingPersonIdListByTesterIdList" parameterType="com.xinmao.sc.orderCenter.domain.TestscaleShareFriendsRelation" resultType="java.lang.Long">
    select
       sharingPersonId 
    from testscale_share_friends_relation
    where is_delete = 0 
    and testScaleId =  #{testScaleId,jdbcType=BIGINT}
    and testerId in
        <foreach item="item" index="index" collection="searchIdList"  
                 open="(" separator="," close=")">  
            #{item}  
        </foreach>  
  </select>
  
  <select id="getSingleMessage" parameterType="com.xinmao.sc.orderCenter.domain.TestscaleShareFriendsRelation" resultMap="BaseResultMap">
    select
       <include refid="Base_Column_List"/>
    from testscale_share_friends_relation
    where is_delete = 0 
    and sharingPersonId =  #{sharingPersonId,jdbcType=BIGINT}
    and testerId =  #{testerId,jdbcType=BIGINT}
    and testScaleId =  #{testScaleId,jdbcType=BIGINT}
  </select>
  
  <insert id="insertRelation" useGeneratedKeys="true" keyProperty="id" parameterType="com.xinmao.sc.orderCenter.domain.TestscaleShareFriendsRelation">
    insert into testscale_share_friends_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="testScaleId != null">
        testScaleId,
      </if>
      <if test="sharingPersonId != null">
        sharingPersonId,
      </if>
      <if test="testerId != null">
        testerId,
      </if>
      <if test="isEnable != null">
        is_enable,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="testScaleId != null">
        #{testScaleId,jdbcType=BIGINT},
      </if>
      <if test="sharingPersonId != null">
        #{sharingPersonId,jdbcType=BIGINT},
      </if>
      <if test="testerId != null">
        #{testerId,jdbcType=BIGINT},
      </if>
      <if test="isEnable != null">
        #{isEnable,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
 
</mapper>