<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinmao.common.bannerCenter.mapper.BannerMapper" >

  <resultMap id="BaseResultMap" type="com.xinmao.common.bannerCenter.domain.BannerMessage" >
    <id column="banner_id" property="bannerId" jdbcType="INTEGER" />
    <result column="show_location" property="showLocation" jdbcType="INTEGER" />
    <result column="banner_title" property="bannerTitle" jdbcType="VARCHAR" />
    <result column="pic_path" property="picPath" jdbcType="VARCHAR" />
    <result column="sorting" property="sorting" jdbcType="INTEGER" />
    <result column="link_type" property="linkType" jdbcType="INTEGER" />
    <result column="outside_link" property="outsideLink" jdbcType="VARCHAR" />
    <result column="inside_link_type" property="insideLinkType" jdbcType="INTEGER" />
    <result column="inside_link_id" property="insideLinkId" jdbcType="INTEGER" />
    <result column="release_from" property="releaseFrom" jdbcType="INTEGER" />
    <result column="is_enable" property="isEnable" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    banner_id,show_location,banner_title,pic_path,sorting,link_type,outside_link,inside_link_type,inside_link_id,release_from,is_enable,is_delete,create_time,modify_time
  </sql>



  <select id="getBannerByShowLocation" resultMap="BaseResultMap"  parameterType="com.xinmao.common.bannerCenter.domain.BannerMessage"  >
    select 
          <include refid="Base_Column_List"/>
    from common_banner 
    <where>
        is_delete = 0
      <if test="showLocation != null">
        and show_location = #{showLocation,jdbcType=INTEGER}
      </if>
    </where>
    order by sorting asc
  </select>

 
  <select id="selectMessByCondition" resultMap="BaseResultMap"  parameterType="com.xinmao.common.bannerCenter.domain.BannerMessage"  >
    select 
          <include refid="Base_Column_List"/>
    from common_banner 
    <where>
        is_delete = 0
      <if test="showLocation != null">
        and show_location = #{showLocation,jdbcType=INTEGER}
      </if>
    </where>
    order by modify_time desc
  </select>

  <select id="getMessById" resultMap="BaseResultMap" parameterType="int">
   select 
          <include refid="Base_Column_List"/>
   from 
        common_banner  
   where  is_delete = 0 and 
          banner_id = #{bannerId,jdbcType=INTEGER}
  </select>
  
  <insert id="insertMess" useGeneratedKeys="true" keyProperty="bannerId" parameterType="com.xinmao.common.bannerCenter.domain.BannerMessage" >
    insert into common_banner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bannerId != null" >
        banner_id,
      </if>  
      <if test="showLocation != null" >
        show_location,
      </if>
      <if test="bannerTitle != null" >
        banner_title,
      </if>
      <if test="picPath != null" >
        pic_path,
      </if>
      <if test="sorting != null" >
        sorting,
      </if>
      <if test="linkType != null" >
        link_type,
      </if>
      <if test="outsideLink != null" >
        outside_link,
      </if>
      <if test="insideLinkType != null" >
        inside_link_type,
      </if>
      <if test="insideLinkId != null" >
        inside_link_id,
      </if>
      <if test="releaseFrom != null" >
        release_from,
      </if>  
      <if test="isEnable != null" >
        is_enable,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bannerId != null" >
        #{bannerId,jdbcType=INTEGER},
      </if> 
      <if test="showLocation != null" >
        #{showLocation,jdbcType=INTEGER},
      </if>
      <if test="bannerTitle != null" >
        #{bannerTitle,jdbcType=VARCHAR},
      </if>
      <if test="picPath != null" >
        #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="sorting != null" >
        #{sorting,jdbcType=INTEGER},
      </if>
      <if test="linkType != null" >
        #{linkType,jdbcType=INTEGER},
      </if>
      <if test="outsideLink != null" >
        #{outsideLink,jdbcType=VARCHAR},
      </if>
      <if test="insideLinkType != null" >
        #{insideLinkType,jdbcType=INTEGER},
      </if>
      <if test="insideLinkId != null" >
        #{insideLinkId,jdbcType=INTEGER},
      </if>
      <if test="releaseFrom != null" >
        #{releaseFrom,jdbcType=INTEGER},
      </if>  
      <if test="isEnable != null" >
        #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
    <update id="updateMess" parameterType="com.xinmao.common.bannerCenter.domain.BannerMessage" >
    update common_banner
    <set>
      <if test="showLocation != null" >
        show_location = #{showLocation,jdbcType=INTEGER},
      </if>
      <if test="bannerTitle != null" >
        banner_title = #{bannerTitle,jdbcType=VARCHAR},
      </if>
      <if test="picPath != null" >
        pic_path = #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="sorting != null" >
        sorting = #{sorting,jdbcType=INTEGER},
      </if>
      <if test="linkType != null" >
        link_type = #{linkType,jdbcType=INTEGER},
      </if>
      <if test="outsideLink != null" >
        outside_link = #{outsideLink,jdbcType=VARCHAR},
      </if>
      <if test="insideLinkType != null" >
        inside_link_type = #{insideLinkType,jdbcType=INTEGER},
      </if>
      <if test="insideLinkId != null" >
        inside_link_id = #{insideLinkId,jdbcType=INTEGER},
      </if>
      <if test="releaseFrom != null" >
        release_from = #{releaseFrom,jdbcType=INTEGER},
      </if>  
      <if test="isEnable != null" >
        is_enable = #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where banner_id = #{bannerId,jdbcType=INTEGER} and is_delete = 0
  </update>
  
</mapper>
