<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinmao.common.userOperationCenter.mapper.CommonShareMapper">
  <resultMap id="BaseResultMap" type="com.xinmao.common.userOperationCenter.domain.CommonShare">
    <id column="share_id" jdbcType="BIGINT" property="shareId" />
    <result column="mid" jdbcType="BIGINT" property="mid" />
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="plateform_type" jdbcType="TINYINT" property="plateformType" />
    <result column="source" jdbcType="INTEGER" property="source" />
    <result column="share_time" jdbcType="TIMESTAMP" property="shareTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  
  <sql id="Base_Column_List">
    share_id, mid, article_id, plateform_type, source, share_time, is_delete
  </sql>
 

  <insert id="insert" useGeneratedKeys="true" keyProperty="shareId"  parameterType="com.xinmao.common.userOperationCenter.domain.CommonShare">
    insert into common_share
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shareId != null">
        share_id,
      </if>
      <if test="mid != null">
        mid,
      </if>
      <if test="articleId != null">
        article_id,
      </if>
      <if test="plateformType != null">
        plateform_type,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="shareTime != null">
        share_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shareId != null">
        #{shareId,jdbcType=BIGINT},
      </if>
      <if test="mid != null">
        #{mid,jdbcType=BIGINT},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="plateformType != null">
        #{plateformType,jdbcType=TINYINT},
      </if>
      <if test="source != null">
        #{source,jdbcType=INTEGER},
      </if>
      <if test="shareTime != null">
        #{shareTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  
</mapper>